*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(136, 188, 234);

}

.for{
    box-shadow: 
    0em 1.2em 1.2em rgba(0, 0, 0, 0.3),
    inset 0em 1.2em 1.2em rgba(0, 0, 0, 0.3);
}


.center{
    background: rgb(24, 9, 122);
    border-radius: 30px; 
    width: 600px;
}


input[type="text"]{
    height:100px ;
    width: 550px; ;
    margin-top: 30px ;
    border-radius: 10px ;
    border: 1px solid #e1e7ea ;
    color: black ;
    font-size: 22px;
    font-weight: bold ;
    text-align: right;
    padding-right: 20px;

}


form .buttons{
    width:600px ;
    margin:30px 2px ;
    padding:1px 0px ;
    border-radius: 7px;
    background-color: lightcyan;
}


input[type="button"]{
    background-color: lightsalmon;
    width:90px ;
    height: 50px;
    margin: 5px ;
    font-size: 22px;
    line-height: 55px;
    border-radius: 4px;
    border: 3px solid rgb(233, 12, 12);



}